<h1>Productos</h1>
<% @objProductos.each do |item| %>
    <p> 
        <%= item.categoria %>
        <%= item.nombre %>
        <%= item.precio %>
        <%= item.precio_venta %>        
        <%= link_to 'editar', producto_editar_path(item) %>
        <%= link_to 'eliminar', {action: :eliminar, id: item.id}, method: :delete, data:{confirm:'Desea eliminar el producto?'} %>
     </p>
     
<% end %>

<%= link_to 'Nuevo producto', producto_nuevo_path %>